#policy .terms3{
  font-size: inherit;
  margin: 100px;
 }

 #policy .terms3 h2{
   padding-top: 50px;
 }

 #policy .privacy-para{
    width: 100%;
 }
 
 @media (max-width: 768px) {
  #policy .terms3{
    font-size: inherit;
    margin: 0px;
   }
   #policy .terms3 h2{
    padding-top: 90px;
    margin: 0px !important;
  }
 }